#hero {
    display: flex;
    border: 2px solid var(--brand-color);
    border-radius: 20px;
    padding-top: 30px;
    background-image: url(/public/img/texture.jpg);
    margin-top: 12px;

    .img-name {
        justify-content: space-around;
        align-items: center;
    }
    
    .img-profile {
        width: 300px;
        border-radius: 50%;
        border: 2px solid var(--brand-color);
        justify-items: center;
       
    }

    .hero-title {
        font-size: 90px;
        text-align: center;
        color: var(--brand-color);
        text-shadow: 5px 5px 20px var(--brand-light);
    }

    .hero-contact {
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
        font-size: 20px;

        .title-contact {
            color: var(--brand-color);
            font-weight: 500;
        }
    }

}