#navbar {

    padding: 10px 20px;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: var(--brand-dark);
    border: var(--brand-color) solid 2px;
    // border-top: none;
    border-radius: 0 0 20px 20px;


    .logo {
        width: 50px;
    }

    ul {

        list-style: none;
        padding: 0 20px;

        li a {
            text-decoration: none;
            color: var(--brand-light);
        }
    }

    .navbar-link {
        .navbar-list {
            flex-grow: 1;
            justify-content: center;
            gap: 1.5rem;

            .navbar-item {

                & :hover {

                    color: var(--brand-color);
                }

            }
        }
    }
}