body  {
    width: 100%;
    background-color: var(--brand-dark);
    color: var(--brand-light);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 50%;
    position: sticky;
    right: 0;
}
::-webkit-scrollbar-track {
    background: transparent; 
}
::-webkit-scrollbar-thumb {
    background: var(--brand-dark); 
}
::-webkit-scrollbar-thumb:hover {
    background: var(--brand-green); 
}